<div ng-controller="SearchBarController as vm" style="padding-left:11px;">
    <date-picker pkdt="vm.date"></date-picker>
    <checkbox-picker obj-list="vm.cinemas" key-name="name" selected-name="selected" lable="Cinemas"></checkbox-picker>
    <!-- <checkbox-picker obj-list="vm.movies" key-name="name" selected-name="selected" lable="Movies"></checkbox-picker> -->

    <h4>Time Interval</h4>
    <b style="padding-right: 10px;">0h</b>
    <input id="slider-interval" style="width:60%;" type="text" class="span2" data-slider-min="0" data-slider-max="23" data-slider-step="1" data-slider-value="[0,23]"/>
    <b style="padding-left:10px;">23h</b>
    <br/>
    <br/>

    <button ng-if="vm.currentState === '/'" class="btn btn-md btn-success" ng-click="vm.doSearch()">Search</button>
    <button ng-if="vm.currentState !== '/'" class="btn btn-md btn-danger" ui-sref="/">Go back to Search</button>
</div>
