<div ng-controller="ShellController as vm">
  <div class="row">
    <div class="col-xs-2">
      <div id="sidebar">
        <nav class="navbar navbar-inverse" style="margin:0;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><b>Cinf</b></a>
            </div>
          </div>
        </nav>
        <div style="padding:15px;" ng-include="'app/layout/searchBar.html'"></div>
      </div>
    </div>

    <div class="col-xs-10" id="mainContent" style="padding: 20px;">
      <ui-view></ui-view>
    </div>
    
  </div>
</div>
