<div ng-controller="MovieDetailController as mDetail" style="padding-left:11px;">
  <!--Loader from loading.io-->
  <div ng-if="mDetail.loading" style="text-align:center;">
    <div class='uil-pacman-css' style='-webkit-transform:scale(0.78);margin-left:auto;margin-right:auto;'>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
    </div>
    <h2>Loading...</h2>
  </div>
  <!--Finish loader-->

  <div class="row" ng-if="!mDetail.loading">
    <div class="col-sm-4" style="overflow:hidden;">
      <img width="400" height="180" src="{{mDetail.movie.photo}}">
    </div>
    <div class="col-sm-8">
      <h1>{{mDetail.movie.name}}</h1>
      <h3><b>Duration:</b> {{mDetail.movie.duration}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>{{mDetail.movie.desc}}</h3>
    </div>
  </div>
  <uib-accordion close-others="false">
    <uib-accordion-group ng-repeat="show in mDetail.movie.shows">
      <uib-accordion-heading>
        {{show.cinema}}
      </uib-accordion-heading>
      <button style="margin:5px;" class="btn btn-sm btn-default" ng-repeat="hour in show.hours">{{hour}}</button>
    </uib-accordion-group>
  </uib-accordion>
</div>